@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=PT+Serif&family=Plus+Jakarta+Sans:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:wght@300&display=swap");

body {
  background-color: #202020;
  /* font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Bellefair', serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Flex', sans-serif; */
}
nav {
  display: flex;
  padding: 1%;
  /* padding-top: 1%;
    padding-bottom: 1%; */
  align-items: center;
  /* justify-content: space-evenly; */
  gap: 8%;
  background-color: black;
  position: sticky;
  top: 0px;
  margin: -1%;
}
nav h1 {
  color: white;
  margin: 0px;
  font-family: "Roboto Flex", sans-serif;
  letter-spacing: -1px;
  cursor: pointer;
}
sup {
  font-size: 12px;
  font-weight: 400;
  color: rgb(122, 122, 122);
  letter-spacing: normal;
}
.redColor {
  filter: invert(17%) sepia(89%) saturate(6642%) hue-rotate(358deg)
    brightness(97%) contrast(112%);
  cursor: pointer;
}
.whiteColor {
  filter: invert(98%) sepia(8%) saturate(412%) hue-rotate(169deg)
    brightness(117%) contrast(100%);
  cursor: pointer;
}
.w5 {
  width: 28%;
  padding: 0px;
}
.w4 {
  width: 13%;
  padding: 0px;
}
#search {
  background-color: grey;
  padding: 2%;
  cursor: pointer;
}
#query + i {
  background-color: #565656;
  padding: 5%;
  padding-left: 8%;
  padding-right: 8%;
}
#query {
  background-color: black;
  border: 0px;
  color: white;
  width: 90%;
  padding: 2%;
  font-size: 20px;
}
#query:focus {
  outline: none;
}
#query::placeholder {
  color: gray;
}
nav > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav > div:first-child {
  width: 15%;
  justify-content: space-between;
  text-align: center;
}
img + div {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav > :nth-child(2) {
  width: 56%;
}
nav > div:last-child {
  width: 15%;
}
#suggestionsData {
  width: 40%;
  margin: auto;
  /* z-index: 1000; */
  background-color: white;
}
#youtubeData {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5%;
  margin-top: 5%;
}
#youtubeData h4 {
  color: white;
  font-weight: 600;
  cursor: pointer;
}
#youtubeData p {
  color: gray;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}
#youtubeData img {
  width: 100%;
  cursor: pointer;
}
#videoData {
  width: 80%;
  margin: auto;
  margin-top: 5%;
}
#videoData iframe {
  width: 100%;
  height: 500px;
  margin: auto;
}
#videoData h2 {
  color: white;
  font-weight: 600;
  cursor: pointer;
}
#videoData p {
  color: gray;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

@media (min-width: 100px) and (max-width: 600px) {
  nav > div:first-child {
    width: 50%;
    font-size: 8px;
  }
  nav > :nth-child(2) {
    width: 60%;
  }
  nav > div:last-child {
    width: 10%;
  }
  #query {
    font-size: 10px;
  }
  h4 {
    font-size: 12px;
  }
  p {
    font-size: 8px;
  }
  sup {
    font-size: 5px;
  }
  #youtubeData {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  nav > div:first-child {
    width: 20%;
    font-size: 14px;
  }
  nav > :nth-child(2) {
    width: 50%;
  }
  nav > div:last-child {
    width: 15%;
  }
  #query {
    font-size: 10px;
  }
  h4 {
    font-size: 14px;
  }
  p {
    font-size: 10px;
  }
  sup {
    font-size: 10px;
  }
  #youtubeData {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
